
  /* backgroundColor:"lightgray" */
  .card1 {
      padding : 0;
      margin-top: 0;
      background-color: lightgray;
}  
  /* style={{marginLeft:"5ch" ,  fontSize:"24px", fontWeight:"bold"}} */

  .label-item { 
    margin-left: 5ch;
    font-size: 24px;
    font-weight: bold;
  }

  .labels-item {
    margin-left: 5ch;
    font-size: 24px;
    font-weight: bold;
  }
  /* .card2 {
      margin-top : 0;
      padding: 0;
  } */