.position{
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}

.position1{
    margin-top: 120px;
    padding-left: 450px
}

.position2{
    margin-top: 120px;
    padding-left: 450px
}